<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
</head>
<body>
    <h1><%= title %></h1>
    <p>Your personalized quote is: $<%= quote %></p>
    <a href="/quotes">Would you like to try another quote?</a>
</body>
</html>
